{% extends 'base.html' %} {% block content %}

  <div class="">
    <h1 class="pb-12 font-bold text-4xl text-dark-gray">Discover</h1>

    <div class="row">
      {% for post in object_list %}
        <a
          href="{% url 'post-detail' post.pk %}"
          class="flex flex-row items-center mb-4 bg-white rounded-lg shadow-sm hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
        >
          <div class="flex flex-col justify-between p-4 leading-normal px-8">
            <p class="font-roboto-mono text-sm pb-3">By: {{ post.author.first_name }} {{ post.author.last_name }}
              . {{ post.post_date.date }}</p>
            <h5
              class="mb-2 text-xl font-semibold tracking-tight text-dark-gray dark:text-white"
            >
              {{ post.title }}
            </h5>
            <p class="mb-2 font-light text-gray-600 dark:text-gray-400">
              {{ post.body|slice:":200" }}
            </p>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}
