{% extends 'base.html' %} {% block content %}

<h1 class="pb-3">Posts</h1>

<div class="row">
  {% for post in object_list %}
  <a
    href="{% url 'post-detail' post.pk %}"
    class="flex flex-col items-center mb-4 bg-white rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
  >
    <div class="flex flex-col justify-between p-4 leading-normal px-8">
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ post.title }}
      </h5>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ post.body }}
      </p>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
