{% extends 'base.html' %} {% block content %}

<h1 class="pb-3">Posts</h1>

<div class="row px-2">
  {% for post in object_list %}
  <div class="card my-3">
    <small class="pt-3 ps-3"
      >{{ post.author.first_name }} {{ post.author.last_name }}</small
    >
    <div class="card-body">
      <a class="card-link" href="{% url 'post-detail' post.pk %}">
        <h4 class="">{{ post.title }}</h4>
      </a>
      <br />
      <p class="card-text">{{ post.body}}</p>
      <a href="{% url 'update' post.pk %}" class="btn btn-primary">Edit</a>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
