{% extends 'base.html' %}

<!-- Title -->
{% block title %} {{ post.title }} {% endblock %}
<!-- Title end -->

{% block content %}

  <article class="w-full max-w-screen-md px-2 sm:px-0 mx-auto">
    <div class="flex flex-row justify-between pb-8">
      <div class="flex flex-row space-x-6">
        <div class="flex flex-col">
          <img class="w-10 h-10 rounded-full"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxA5cTf-5dh5Eusm0puHbvAhOrCRPtckzjA&usqp=CAU"
               alt="user photo">
        </div>
        <div class="flex flex-col">
          <a href="#">
            <p class="font-roboto-mono font-semibold text-dark-gray">
              By: {{ post.author.first_name }} {{ post.author.last_name }}
            </p>
          </a>
          <small class="font-roboto-mono font-light text-gray-600">{{ post.post_date.date }}</small>
        </div>
      </div>

      <div class="flex items-center">
        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            <a href="{% url 'post_update' post.slug %}"
               class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 transition">Edit</a>
          {% endif %}
        {% endif %}
      </div>
    </div>


    <h1 class="pb-6 font-bold text-4xl text-dark-gray">{{ post.title }}</h1>
    <hr class="pb-6"/>
    <p class="text-lg font-light text-gray-600">{{ post.body|safe }}</p>

    <br/>
    <br/>
    <a href="{% url 'home' %}" class="mr-6 text-dark-gray">Back</a>
  </article>

{% endblock %}
