{% extends 'base.html' %}

<!-- Title -->
{% block title %} {{ post.title }} {% endblock %}
<!-- Title end -->

{% block content %}

  <article class="w-full max-w-screen-md px-2 sm:px-0 mx-auto">

    <div class="flex flex-row justify-between pb-8">
      <div class="flex flex-row space-x-6">
        <div class="flex flex-col">
          <img class="w-10 h-10 rounded-full"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJxA5cTf-5dh5Eusm0puHbvAhOrCRPtckzjA&usqp=CAU"
               alt="user photo">
        </div>
        <div class="flex flex-col">
          <a href="#">
            <p class="font-roboto-mono font-semibold text-dark-gray">
              {{ post.author.first_name }} {{ post.author.last_name }}
            </p>
          </a>
          <small class="font-roboto-mono font-light text-gray-600">{{ post.post_date.date }}</small>
        </div>
      </div>

      <div class="flex items-center">
        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
            <!-- Edit button -->
            <button
              class="text-dark-gray transition hover:bg-gray-100 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800"
              data-dropdown-toggle="dropdown2"
            >
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdown2"
                 class="z-10 hidden bg-gray-50 border divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                <li>
                  <a href="{% url 'post_update' post.slug %}"
                     class="block px-4 py-2 hover:bg-gray-100 hover:text-gray-600 dark:hover:bg-gray-600 dark:hover:text-white">Edit</a>
                </li>
                <li>
                  <a href="#"
                     class="block px-4 py-2 hover:bg-red-100 hover:text-red-600 dark:hover:bg-gray-600 dark:hover:text-white">Delete</a>
                </li>
              </ul>
            </div>
          {% endif %}
        {% endif %}
      </div>

    </div>


    <h1 class="pb-6 font-bold text-4xl text-dark-gray">{{ post.title }}</h1>
    <hr class="pb-6"/>
    <p class="text-lg font-light text-gray-600">{{ post.body|safe }}</p>

    <br/>
    <br/>

    <div class="flex flex-row justify-between pb-8">
      <div class="flex flex-row space-x-6">
        <div class="flex flex-row items-center">
          <!-- Like button -->
          {% if user.is_authenticated %}
            <form action="{% url 'like_post' post.pk %}" method="post">
              {% csrf_token %}

              {% if not liked %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                        class="text-dark-gray transition hover:bg-red-100 hover:text-red-600 font-medium rounded-full text-sm p-2.5 mr-2 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
                  <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
                  </svg>
                </button>
              {% else %}
                <button type="submit" name="post_id" value="{{ post.id }}"
                        class="text-red-600 transition hover:bg-red-100 hover:text-red-600 font-medium rounded-full text-sm p-2.5 mr-2 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                          clip-rule="evenodd"></path>
                  </svg>
                </button>
              {% endif %}
            </form>
          {% else %}
            <a href="{% url 'login' %}?next={{ request.path }}"
               class="text-dark-gray transition hover:bg-red-100 hover:text-red-600 font-medium rounded-full text-sm p-2.5 mr-2 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
              </svg>
            </a>
          {% endif %}
          <p class="text-gray-600 font-light">{{ total_likes }}</p>
        </div>

        <div class="flex flex-row items-center">
          <!-- Comments button -->
          <button type="button"
                  class="text-dark-gray transition hover:bg-blue-100 hover:text-blue-600 font-medium rounded-full text-sm p-2.5 mr-2 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"></path>
            </svg>
          </button>
          <p class="text-gray-600 font-light">0</p>
        </div>
      </div>
    </div>
  </article>

{% endblock %}
