.ql-toolbar {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.ql-container {
    min-height: 300px;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.ql-editor {
    min-height: 300px;
}