<div class="flex flex-row items-center" id="likes_section">
  <button id="likes_button" hx-post="{% url 'like_post' post.id %}" hx-target="#likes_section" hx-swap="outerHTML"
          class="text-dark-gray transition hover:bg-red-100 hover:text-red-600 font-medium rounded-full text-sm p-2.5 mr-2 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800">
    {% if request.user not in post.likes.all %}
      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
      </svg>
    {% else %}
      <svg class="w-5 h-5" fill="#E02424" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
              d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
              clip-rule="evenodd"></path>
      </svg>
    {% endif %}
  </button>
  <p class="text-gray-600 font-light">{{ post.total_likes }}</p>
</div>