{% extends 'base.html' %}

<!-- Title -->
{% block title %} Login {% endblock %}
<!-- Title end -->

{% block content %}

  <div class="flex flex-col w-full max-w-screen-md mx-auto pb-[160px] px-2 sm:px-0">
    <div class="my-auto">
      <h1 class="pb-12 font-bold font-lora text-4xl text-dark-gray">Login</h1>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
          Login
        </button>
      </form>
    </div>
  </div>

{% endblock %}
